<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-button expand="block" (click)="senhasService.chamarSenha()">Chamar senha</ion-button>
    <ion-card-header>
      <ion-card-title>{{ senhasService.primeiroValor}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>